@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Pixelify+Sans:wght@400;700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {

  html {
    scroll-behavior: smooth !important;
  }

  body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #f8fafc;
    background-image:
      linear-gradient(#e2e8f0 2px, transparent 2px),
      linear-gradient(90deg, #e2e8f0 2px, transparent 2px);
    background-size: 50px 50px;
    @apply text-slate-900 transition-colors duration-300;
  }

  body,
  p,
  span,
  a,
  div {
    font-family: 'Pixelify Sans', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  .font-press-start {
    font-family: 'Press Start 2P', cursive;
  }

  .dark body {
    background-color: #020617;
    background-image:
      linear-gradient(#4d4d4d 2px, transparent 2px),
      linear-gradient(90deg, #4d4d4d 2px, transparent 2px);
    @apply text-slate-50;
  }

  h1,
  h2,
  h3 {
    font-family: 'Press Start 2P', cursive;
  }
}

section[id] {
    scroll-margin-top: 100px;
  }

.mini-grid {
  background-size: 15px 15px;
  background-image:
    linear-gradient(to right, rgba(15, 23, 42, 0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(15, 23, 42, 0.08) 1px, transparent 1px);
}

.dark .mini-grid {
  background-image:
    linear-gradient(to right, rgba(248, 250, 252, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(248, 250, 252, 0.05) 1px, transparent 1px);
}

.pixel-card {
  @apply border-4 border-slate-900 text-slate-900 shadow-[6px_6px_0px_0px_rgba(15,23,42,1)] transition-all duration-300;
}

.dark .pixel-card {
  @apply border-slate-50 text-slate-50 shadow-[6px_6px_0px_0px_rgba(248,250,252,1)];
}

.pixel-border {
  @apply border-4 border-black text-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)];
}

.dark .pixel-border {
  @apply border-white text-white shadow-[4px_4px_0px_0px_rgba(255,255,255,1)];
}